{% extends 'base_layout.html' %}

{% block body %}

   
  
         <div class="touch">        
           <div class="card text-center">
         
              <div class="card-header bg-dark text-white text-center"><h5 class="text-center">ข้อมูลส่วนตัว</h5></div>
                 <div class="row">
                  <div class="col-md-12 card-text text-center ">
                    <br>
                    <p>ชื่อ : นายวชิรพงศ์ คำภาพงษ์</p>
                    <p>รหัสนิสิต : 62102010184</p>
                  </div>
                <!--<div class="row">
                  <div class="col-md-6 card-text text-center ">
                    <br>
                    <p>ชื่อ : นายวชิรพงศ์ คำภาพงษ์</p>
                    <p>รหัสนิสิต : 62102010184</p>
                  </div>
                  <div class="col-md-6 card-text text-center ">
                    <br>
                    <p>ชื่อ : นายวชิรพงศ์ คำภาพงษ์</p>
                    <p>รหัสนิสิต : 62102010184</p>
                 </div>-->
                 
               <!--<a href="https://github.com/wachirapong35" target = "_blank"><i class="fab fa-github-square fa-6x"></i></a>-->
               <!--<a href="https://www.facebook.com/wachirapong.kamphapong/" target = "_blank"><i class="fab fa-facebook fa-6x"></i></a>-->
               <!--<a href="https://open.spotify.com/user/sh9mx8hcr17cesshsmnce93rw?si=4ZJG27vYRXihUbCAacqfuQ/"><i class="fab fa-spotify fa-6x"></i></a>-->
                
                
          </div>
      </div>


{% endblock %}